.main-page {
    width: 100vw;
}

.users-list {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 30rem;
    grid-template-columns: 30fr 30fr 30fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    scale: 0.9;
}

.list-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-button {
    background: #11b69a;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    color: white;
    letter-spacing: 2px;
}

.list-button:nth-child(2) {
   margin-left: 5rem;
}