
.searchbar {
    margin-top: 10px;
    min-height: 35px;
    max-height: 100px;
    padding: 5px;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar>input {
    width: 30%;
    height: 50%;
    min-height: 28px;
    min-width: 18rem;
    background: white;
    outline: none;
    padding: 1rem;
    font-size: 12pt;
    border: 2px solid #11b69a;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
}

.searchbar button {
    min-height: 28px;
    max-width: 50px;
    width: 10%;
    height: 50%;
    background:#11b69a;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchbar button:active img {
    height: 55%;
}

.bar-image {
    height: 60%;
    margin-right: 7px;
}