.cat-page {
    display: flex;
    flex-direction: column;
}

.cat-card > h1 {
    color:#11b69a;
    margin-bottom: 1rem;
}

.back-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
 }

.cat-card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-card > img {
    width: 40vw;
}

.cat-page a {
    color: rgb(49, 53, 53);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.back-btn {
    background: transparent;
    padding: 0.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow {
    margin-right: 5rem;
}