.main-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-list {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 30rem;
    grid-template-columns: 30fr 30fr 30fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 90%;
    margin-block: 2rem;
}

.list-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-buttons .btn:nth-child(2) {
   margin-left: 5rem;
}


@media only screen and (max-width:950px){
    .users-list {
        grid-template-columns: 1fr 1fr;
        
    }

    .content p {
        font-size: 1.9vw;
    }

    .content .email {
       font-size: 1.5vw;
    }
}

@media only screen and (max-width:650px){
    .users-list {
        grid-template-columns: 1fr;
        width: 90%;
       
    }
    
    .content p {
        font-size: 3.8vw;
    }

    .content .email {
        font-size: 3.5vw;
     }
}