.client-data {
    padding: 3rem;
    display: grid;
    grid-template-columns: 20fr 20fr;
    grid-template-rows: 20fr 20fr 20fr;
    gap: 2rem;
   
}

.client-container {
    background: white;
    position: absolute;
}

.modal-close {
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.transparent {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #22232398;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

.modal-btn {
    background: #11b69a;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    color: white;
    letter-spacing: 2px;
    width: 5rem;
}

.delete-btn {
    background: white;
    color:#11b69a;
    font-weight: 700;
    border: 2px solid #11b69a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.delete-client {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}

.delete {
    padding: 0;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}