* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #e3ece7;
}

button {
  cursor: pointer;
}

.btn {
  background: #11b69a;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  color: white;
  letter-spacing: 2px;
}