.dog-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.dog-card h1 {
    color: #11b69a;
    margin-bottom: 1rem;
}

.back-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.dog-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dog-card {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dog-card>img {
    object-fit: cover;
    width: 60%;
    max-height: 25rem;
}

.arrow {
    font-size: 20pt;
    margin-right: 0.5rem;
}

.refresh-btn {
    color: white;
    padding: 1rem;
    height: 2rem;
    width: 3rem;
    background: #11b69a;
    position: absolute;
    top: 12px;
    right: -5rem;
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.refresh-btn>img {
    width: 1rem;
    height: 1rem;
}

.refresh-btn:active>img {
    width: 10px;
    height: 10px;
}